<p id="notice"><%= notice %></p>
<h2>Book detail</h2>

<%= image_tag @user.get_profile_image(100,100) %>
<%= @book.title %>
<%= @book.body %>
<%= @book.user.name %>

<% if @book.user == current_user %>
 <%= link_to "Edit", edit_book_path(@book.id) %>
 <%= link_to "Destroy", books_path(@book), method: :delete %>
<% end %>



<%= render 'list/lists', book: @new_book, user: @user %>